{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "no-else-return": "error",
    "object-curly-spacing": [
      "error",
      "always",
      {
        "arraysInObjects": false,
        "objectsInObjects": false
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ]
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
